* { 
	margin: 0; 
	padding: 0; 
	box-sizing: inherit; 
}

html {
	box-sizing: border-box;
}

body { 
	font: 13px Helvetica, Arial; 
	background-color: #f4f4f4;
}

#timerTemplate {
	display: none;
}

.timer {
	margin: 20px;
}