@mixin exactWidth($size) {
	width: $size;
	min-width: $size;
	max-width: $size;
}
@mixin exactHeight($size) {
	height: $size;
	min-height: $size;
	max-height: $size;
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: inherit; 
}

html {
	box-sizing: border-box;
}

body { 
	font: 13px Helvetica, Arial; 
	background-color: #f8f8f8;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	&.scroll-disabled {
		overflow: hidden !important;
	}
}

button,label {
	cursor: pointer;
}

button {
	background: none;
	border: 0;
	outline: 0;
	color: inherit;
	font-size: inherit;

	&:disabled {
		cursor: not-allowed;
	}
}

header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	h1 {
		margin: 10px;
		margin-right: 16px;
		a {
			color: #333;
			text-decoration: none;
		}
	}

	border-bottom: 1px solid #ccc;
	background-color: #e6e6e6;

	.timer-name {
		width: 125px;
		margin-right: 6px;
		height: 28px;
		font-size: 22px;
	}

	button {
		$button-color: #43a047;
		background-color: $button-color;
		border: 1px solid darken($button-color, 30%);
		padding-left: 6px;
		padding-right: 6px;
		border-radius: 3px;
		color: #fff;
		height: 28px;

		&:hover {
			background-color: darken($button-color, 6%);
		}
		&:active,&:focus {
			background-color: darken($button-color, 10%);
			outline: 0;
		}
	}

	.view-settings-container {
		margin: 4px 10px 4px auto;
		text-align: right;

		.theme-selector-container {
			margin-bottom: 4px;
			select {
				min-width: 150px;
			}
		}

		.debug-toggle-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			label {
				margin-left: 16px;
			}
		}

		label {
			margin-right: 8px;
		}
	}
}

main {
	height: 100%;
}

#timersContainer {
	height: 100%;
}

#timerTemplate {
	display: none;
}


body.classic {
	$btn-red-top: #febfbf;
	$btn-red-bot: #f0b1ab;
	$btn-grn-top: #bffebf;
	$btn-grn-bot: #b2f0ab;
	$btn-yel-top: #fefebf;
	$btn-yel-bot: #f0f0ab;
	$btn-gry-top: #fefefe;
	$btn-gry-bot: #efefe9;
	$btn-blu-top: #bfbffe;
	$btn-blu-bot: #b2b2ea;

	$btn-red-top-hov: #fe7f7f;
	$btn-red-bot-hov: #f0716b;
	$btn-grn-top-hov: #7ffe7f;
	$btn-grn-bot-hov: #71f06b;
	$btn-yel-top-hov: #fefe00;
	$btn-yel-bot-hov: #f0f000;
	$btn-gry-top-hov: #dfdfdf;
	$btn-gry-bot-hov: #d1d1cb;
	$btn-blu-top-hov: #7f7ffe;
	$btn-blu-bot-hov: #7171ea;

	$red-bg: #c00000;
	$yel-bg: #ffff00;
	$yel-border: #f8b330;
	$misc-timer-grn: #80ff80;
	$misc-timer-gry: #c0c0c0;
	$misc-timer-cancel-gry-top: #e0e0e0;
	$misc-timer-cancel-gry-bot: #b0afc2;
	$misc-timer-cancel-gry-top-hov: #dfdfdf;
	$misc-timer-cancel-gry-bot-hov: #d1d1cb;
	$misc-timer-cancel-border: #1b4f7f;

	.irrelevant:not(.placeholder):not(.travel-time-container) {
		display: none !important;
	}
	.irrelevant.placeholder {
		visibility: hidden !important;
	}

	.timer {
		position: relative;
		width: 100%;
		height: 100%;

		&.pregame .thinking-time-container {
			display: none;
		}

		:disabled {
			opacity: 0.4;
		}


		.timer-container {
			height: 100%;
			position: relative;
		}

		.time-value {
			font-weight: bold;
			.char {
				width: 11vmin;
				text-align: center;

				&.digit {
					width: 18vmin;
				}
			}

			&.running {
				text-decoration: underline;
			}
		}

		.timer-title {
			margin-left: 10px;
			font-size: 22px;

			&:hover {
				color: #1565c0;
				cursor: pointer;
			}
		}

		.overlay-time-container {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: $misc-timer-gry;
			z-index: 2;

			&>.time-value {
				position: absolute;
				width: 75%;
				height: 40%;
				top: 30%;
				left: 12.5%;
				background-color: $misc-timer-grn;
				border: 2px solid #333;
				font-size: 32vmin;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.cancel-timer-button {
				position: absolute;
				width: 120px;
				height: 40px;
				left: calc(50% - 60px);
				border: 2px solid $misc-timer-cancel-border;
				background: linear-gradient(to bottom, $misc-timer-cancel-gry-top 0%, $misc-timer-cancel-gry-bot 100%);
				border-radius: 2px;
				top: 92%;

				&:hover {
					background: linear-gradient(to bottom, $misc-timer-cancel-gry-top-hov 0%, $misc-timer-cancel-gry-bot-hov 100%);
				}
			}

			h2 {
				text-align: center;
				margin-top: 6%;
				font-size: 32px;
			}

			.travel-time-container {
				position: absolute;
				width: 25vw;
				height: 6vh;
				top: 32vh;
				left: calc(50% - 12.5vw);
				border: 1px solid #212121;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				z-index: 15;
				font-size: 3vmin;
				padding-top: 0.5vh;
				padding-bottom: 0.5vh;
				flex-wrap: wrap;

				.travel-time-label {
					margin-right: 1.5vw;
				}

				button.travel-time-cancel {
					flex-basis: 100%;
					border: 2px solid $misc-timer-cancel-border;
					background: linear-gradient(to bottom, $misc-timer-cancel-gry-top 0%, $misc-timer-cancel-gry-bot 100%);
					border-radius: 2px;
					max-width: 10vw;
					height: 2vh;
					font-size: 1.6vmin;

					&:hover:not(:disabled) {
						background: linear-gradient(to bottom, $misc-timer-cancel-gry-top-hov 0%, $misc-timer-cancel-gry-bot-hov 100%);
					}
				}

				&.irrelevant {
					transition: opacity 3s ease-in 0.5s;
					display: flex !important;
					opacity: 0;
					pointer-events: all;
				}
			}
		}

		.timer-container {
			display: flex;
		}

		.elapsed-thinking-time-container {
			position: absolute;
			width: 100%;
			height: 100%;
			pointer-events: none;

			h2 {
				display: none;
			}

			.elapsed-thinking-time {
				position: absolute;
				right: 2vw;
				opacity: 0.5;
				font-size: 1.5vmin;

				&.running {
					opacity: 1;
					font-size: 2.4vmin;
					text-decoration: none;
				}

				&.team-A {
					top: 44vh;
					color: #fff;
				}

				&.team-B {
					top: 96vh;
				}
			}
		}

		.timeouts-remaining-container {
			position: absolute;
			width: 100%;
			height: 100%;
			pointer-events: none;

			h2 {
				display: none;
			}

			.timeouts-remaining {
				position: absolute;
				width: 15vmin;
				height: 7vmin;
				left: 80%;
				padding: 0.5vmin;
				text-align: center;
				font-size: 2.5vmin;
				font-weight: bold;
				pointer-events: all;

				&.team-A {
					border: 2px solid #fff;
					color: #fff;
					top: 4%;

					.add-timeout, .subtract-timeout {
						color: #fff;

						&:hover {
							background-color: rgba(255, 255, 255, 0.3);
						}
					}
				}
				&.team-B {
					border: 2px solid #000;
					color: #000;
					top: 56%;
					
					.add-timeout, .subtract-timeout {
						color: #000;

						&:hover {
							background-color: rgba(0, 0, 0, 0.1);
						}
					}
				}

				&::before {
					content: "Timeouts";
					display: block;
				}

				.add-timeout, .subtract-timeout {
					cursor: pointer;
					width: 1.5vmin;
					height: 1.5vmin;
					font-size: 1.4vmin;
					position: absolute;
					right: 0;
				}
				.add-timeout {
					bottom: 1.2vh;
				}
				.subtract-timeout {
					bottom: 0;
				}
			}
		}

		.thinking-time-container {
			order: 5;
			width: 100%;

			h2 {
				display: none;
			}

			.thinking-times {
				height: 100%;
				display: flex;
				align-items: center;
				flex-direction: column;

				.spacer {
					height: 4vh;
					width: 100%;
					font-size: 2.5vmin;
					border: 2px solid #c0c0c0;

					display: flex;
					flex-direction: row;
					justify-content: space-between;

					.left {
						text-align: left;
					}
					.center {
						flex-grow: 1;
						text-align:center;

						.technical-info {
							display: flex;
							flex-direction: column;
							
							&.irrelevant {
								transition: opacity 3s ease-in 0.5s;
								display: flex !important;
								opacity: 0;
								pointer-events: none;
							}

							.technical-timeout-title {
								font-size: 2vmin;
								font-style: italic;

								&::before {
									content: "Technical Timeout";
								}
							}
							.technical-timeout-time {
								font-size: 3vmin;
								margin-top: -0.6vh;
							}
						}
					}
					.right {
						text-align: right;
					}
				}

				.time-with-controls {
					height: 48vh;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					&.team-A {
						color: #fff;
						background-color: $red-bg;

						button.time-control-button {
							&:hover {
								background-color: rgba(255, 255, 255, 0.3);
							}
						}
					}
					&.team-B {
						background-color: $yel-bg;

						button.time-control-button {
							&:hover {
								background-color: rgba(0, 0, 0, 0.1);
							}
						}
					}

					.thinking-time {
						height: 100%;
						font-size: 34vmin;
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: bold;
					}

					.time-controls {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						font-size: 3vmin;
						height: 8vmin;
						
						.time-control-button {
							width: 2vw;
						}
					}
					.minute-controls {
						margin-right: 1vw;
					}
					.second-controls {
						margin-left: 1vw;
					}
				}
			}

		}

		&.between-ends,&.warm-up,&.timeout {
			.thinking-time-container {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 3;
				pointer-events: none;
				.spacer {
					display: none;
				}

				.time-with-controls {
					height: 20vh;
					pointer-events: all;
					position: absolute;
					width: 50%;
					left: 25%;

					&.team-A {
						top: 9%;
					}
					&.team-B {
						top: 71%;
					}

					.thinking-time {
						font-size: 18vmin;
						width: 87%;
					}
				}
			}
		}

		.debug {
			position: fixed;
			bottom: 10px;
			right: 10px;
			background-color: rgba(248, 248, 248, 0.7);
			z-index: 5;

			transition: all 0.4s;

			&.hidden {
				bottom: -25%;
				opacity: 0;
			}
		}

		.controls {
			text-transform: capitalize;
			@include exactWidth(100px);
			height: 100vh;
			display: flex;
			flex-direction: column;
			order: -1;

			button {
				font-size: 16px;
				height: 10vh;
				border: 1px solid #666;

				&:hover {
					border-color: $yel-border;

					&:disabled {
						border-color: #666;
						cursor: not-allowed;
					}
				}
			}

			#game-start-warmup {
				&:disabled {
					display: none;
				}
				position: absolute;
				top: 25%;
				left: calc(50% - 150px);
				height: 100px;
				width: 300px;
			}

			#game-start-no-warmup {
				&:disabled {
					display: none;
				}
				position: absolute;
				height: 100px;
				width: 300px;
				top: calc(25% + 110px);
				left: calc(50% - 150px);
			}

			#yellow-begin-thinking {
				order: 50;
				background: linear-gradient(to bottom, $btn-yel-top 0%, $btn-yel-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-yel-top-hov 0%, $btn-yel-bot-hov 100%);
				}
			}

			#red-begin-thinking {
				order: 20;
				background: linear-gradient(to bottom, $btn-red-top 0%, $btn-red-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-red-top-hov 0%, $btn-red-bot-hov 100%);
				}
			}

			#end-red-thinking {
				order: 21;
				background: linear-gradient(to bottom, $btn-red-top 0%, $btn-red-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-red-top-hov 0%, $btn-red-bot-hov 100%);
				}
			}

			#end-yellow-thinking {
				order: 51;
				background: linear-gradient(to bottom, $btn-yel-top 0%, $btn-yel-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-yel-top-hov 0%, $btn-yel-bot-hov 100%);
				}
			}

			#end-end {
				order: 22;
				background: linear-gradient(to bottom, $btn-grn-top 0%, $btn-grn-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-grn-top-hov 0%, $btn-grn-bot-hov 100%);
				}
			}

			#begin-timeout {
				order: 23;
				background: linear-gradient(to bottom, $btn-blu-top 0%, $btn-blu-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-blu-top-hov 0%, $btn-blu-bot-hov 100%);
				}
				height: 5vh;
			}

			#technical {
				order: 24;
				background: linear-gradient(to bottom, $btn-blu-top 0%, $btn-blu-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-blu-top-hov 0%, $btn-blu-bot-hov 100%);
				}
				height: 5vh;
			}

			#end-technical {
				order: 24;
				background: linear-gradient(to bottom, $btn-blu-top 0%, $btn-blu-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-blu-top-hov 0%, $btn-blu-bot-hov 100%);
				}
				height: 5vh;

				&:disabled {
					display: none;
				}
			}

			#adjust-time {
				order: 70;
				background: linear-gradient(to bottom, $btn-gry-top 0%, $btn-gry-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-gry-top-hov 0%, $btn-gry-bot-hov 100%);
				}
			}

			#begin-extra-end {
				order: 1;
				background: linear-gradient(to bottom, $btn-gry-top 0%, $btn-gry-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-gry-top-hov 0%, $btn-gry-bot-hov 100%);
				}
			}

			#begin-midgame-break {
				order: 25;
				background: linear-gradient(to bottom, $btn-grn-top 0%, $btn-grn-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-grn-top-hov 0%, $btn-grn-bot-hov 100%);
				}
			}

			#reset {
				order: 75;
				background: linear-gradient(to bottom, $btn-gry-top 0%, $btn-gry-bot 100%);
				&:hover:not(:disabled) {
					background: linear-gradient(to bottom, $btn-gry-top-hov 0%, $btn-gry-bot-hov 100%);
				}
			}
		}
	}

	.confirm-dialog {
		position: fixed;
		width: 50vw;
		height: 250px; 
		top: calc(50vh - 125px);
		left: calc(50% - 25vw);
		background-color: #f8f8f8;
		z-index: 15;
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);

		.confirm-dialog-title {
			display: flex;
			align-items: center;
			padding-left: 10px;
			height: 30px;
			border-bottom: 1px solid #ddd;
			text-transform: uppercase;
		}
		.confirm-dialog-message {
			flex-grow: 1;
			margin: 50px;
			font-size: 24px;
		}
		.confirm-dialog-buttons {
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-right: 10px;
			
			button {
				background-color: #2196f3;
				border: 1px solid #0d47a1;
				padding-left: 6px;
				padding-right: 6px;
				border-radius: 3px;
				color: #fff;
				height: 30px;
				min-width: 90px;
				margin-left: 20px;
				text-align: middle;
				text-transform: capitalize;

				&:hover {
					background-color: lighten(#2196f3, 10%);
				}
				&:active,&:focus {
					background-color: darken(#2196f3, 10%);
					outline: 0;
				}
			}
		}
	}

	.modal-overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: 0.15;
		z-index: 10;
	}

	.team-time-input {
		width: 280px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;

		input {
			height: 25px;
			font-size: 20px;
			width: 100px;
			padding-top: 2px;
		}
	}
}


div.debug {
	white-space: pre;
	font-family: Consolas, Courier New, Courier, monospace;
	pointer-events: none;
}